build/
StylerX/deps/qt6/
StylerX/deps/obs-sdk/lib/*.lib
StylerX/deps/obs-sdk/lib/*.exp
StylerX/deps/obs-sdk/lib/*.exports
*.user
*.suo
.vs/
__pycache__/
*.pyc
*.pyo
*.exp
*.ilk
*.obj
*.tlog
*.log
.DS_Store
Thumbs.db

# GitHub token file
Github Token
